<h1><%= @author.name %></h1>

  <%= image_tag @author.image,:class => 'image_cover' %>
  <ul>
    <li>Date of Birth: <%= @author.dob %></li>
    <li>Nationality: <%= @author.nationality %></li>
    <li>Styles of writing: <%= @author.styles %></li>
  </ul>
<% @author.books.each do |book| %>
  <%= link_to (image_tag book.image, :class => :image_cover),book %>
<% end %>

<div class="controls">
  <%= link_to 'Edit Author', edit_author_path(@author) %>
  <%= link_to 'Delete Author', @author , :method => 'delete' , :data => { :confirm => 'Press OK to continue'} %>

</div>
